@media screen and (max-width: 872px) {
    .footer {
        border-top: none;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-evenly;
    border-top: 1px solid #e4e4e4;
    background-color: #efefef;
    .footer-site-title {
        a {
            text-decoration: none;
        }
    }
    .footer-site-title-1 {
        color: rgba(0, 0, 0, 0.78);
        font-family: 'Exo', sans-serif;
    }
    .footer-site-title-2 {
        color: rgba(36, 130, 170, 0.78);
        font-family: 'Permanent Marker', cursive;
    }
    .footer-links {
        ul {
            list-style-type: none;
            display: inline-flex;
            li {
                margin-right: 10px;
            }
        }
        li a {
            text-decoration: none;
            font-family: 'Exo', sans-serif;
            font-size: 13px;
            color: rgb(16, 127, 175);
            &:hover {
                text-decoration: underline;
                color: rgb(12, 61, 83);
            }
        }
    }
    .copyright {
        font-family: 'Exo', sans-serif;
    }
}

