* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 120vh;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
}
p, a { 
    padding: 0;
    margin: 0;
}
nav {
    display: block;
    margin: 0;
}
.navbar {
    height: 80px;
    background-color: #ffffff;
    border: 1px #e4e4e4 solid;
    .nav-container {
        margin: 22px auto 0 auto;
        width: 80%;
        text-align: center;
    }
    .site-name {
        a {
            text-decoration: none;
            font-size: 24px;
        }
        .first-part {
            color: rgba(0, 0, 0, 0.78);
            font-family: 'Exo', sans-serif;
        }
        .second-part {
            color: rgba(36, 130, 170, 0.78);
            font-family: 'Permanent Marker', cursive;
        }
    }
}
.wrapper{
    display: flex;
    width: 100vw;
    min-height: 120vh;
    background-color: #ffffff;
}
.content-wrapper {
    background-color: #F5F6F7;
    flex-basis: 70%;
    padding-bottom: 70px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.navlinks {
    display: none;
    ul {
        li {
            list-style-type: none;
        }
    }
    a {
        text-decoration: none;
    }
    ul li a {
        font-family: 'Exo', sans-serif;
    }
}
.burger {
    display: none;
}


//Accordion
.accordion {
    margin: auto;
    margin-top: 70px;
    max-width: 70%;
    overflow: hidden;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
}
.accordion-header {
    display : flex;
    height: 4rem;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    color: #003350;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    .head-title {
        font-family: 'PT Sans', sans-serif;
    }
    i {
        font-size: 30px;
    }
}
.accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out
}
.accordion-body {
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 0 10px;
    ul {
        list-style-type: none;
    }
    ul li a {
        text-decoration: none;
        padding: 0;
        margin: 0;
        color: rgb(12, 61, 83);
        font-family: 'PT Sans', sans-serif;
    }
    li {
        border-bottom: 1px solid rgba(36, 130, 170, 0.144);
    }
    ul li:last-child {
        border-bottom: none;
    }
    li {
        padding: 10px;
        margin: 0;
    }
}
.accordion-body.active {
    max-height: 40rem;
    padding: 1rem;
    border: 1px solid #c0c0c0;
    li {
        padding: 10px;
        margin: 0;
    }
    li:hover {
        background-color: rgba(6, 97, 136, 0.651);
        a {
            color: white;
        }
    }
}
.accordion-item {
    margin-bottom: 20px;
}

@media screen and (max-width: 872px) {
    .wrapper {
        flex-direction: column;
    }
    .sidebar {
        margin: 0;
        margin: auto;
        border: 2px solid #e4e4e4;
        width: 100%;
    }
    .accordion {
        overflow: hidden;
        border-radius: 4px;
    }
    .accordion-header {
        font-size: 16px;
    }
    .acc-logo {
        font-size: 40px;
        width: auto;
        margin-right: 0;
    }
}

.sidebar {
    margin-left: auto;
    flex-grow: 1;
    padding: 20px 40px 50px 40px;
    background-color: #ffffff;
    border-left: 1px solid #e4e4e4;
    ul {
        list-style-type: disc;
        li a {
            text-decoration: none;
            color: rgba(0, 92, 131, 0.945);
            font-family: 'PT Sans', sans-serif;
            font-size: 17px;
            &:hover {
                text-decoration: underline;
            }
        }
        li {
            margin-bottom: 5px;
            color: rgba(66, 66, 66, 0.829);
            font-size: 17px;
        }
    }
    .sidebar-title {
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        color: rgba(66, 66, 66, 0.829);
    }
    .sidebar-list {
        margin-top: 40px;
        margin-left: 20px;
        padding: 10px;
    }
}

@media screen and (min-width:872px) {
    .navlinks {
        margin-left: auto;
        ul {
            background-color: #ffffff;
            display: inline-flex;
            li {
                margin-left: 30px;
            }
        }
        ul li a {
            color: rgba(0, 0, 0, 0.78);
            padding: 10px;
            border-radius: 5px;
            font-size: 18px;
            &:hover {
                color: #fafafa;
                background-color: rgba(36, 130, 170, 0.78);
                border-radius: 5px;
            }
        }
    }
    .navlinks {
        ul {
            list-style-type: none;
        }
    }
    .acc-logo {
        font-size: 40px;
        width: 40px;
        margin-right: 50px;
    }
    .head-title {
        margin-right: auto;
    }
}

@media screen and (max-width: 872px){ 
    .navlinks {
        display: none;
        position: absolute;
        right: 0;
        top: 80px;
        z-index: 100;
        max-width: 0px;
        transform: translateX(300px);
        transition: transform 0.3s ease-in;
    }
    .nav-active {
        display: block;
        max-width: 500px;
        transform: translateX(0px);
        ul li {
            padding: 10px 0;        
            width: 300px;
            &:hover {
                background-color: rgb(23, 72, 94);
            }
        }
        ul {
            background-color: rgb(36, 130, 170);
            display: block;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        a {
            color: #f1f1f1;
            border-radius: 5px;
            font-size: 18px;
            text-align: center;
        }
    }
    .burger {
        position: absolute;
        right: 20px;
        top: 30px;
        margin-top: 0;
        display: block;
        margin-left: auto;
        cursor: pointer;
        width: 50px;
        height: 30px;
        .line-1, .line-2, .line-3 {
            height: 4px;
            width: 30px;
            margin-bottom: 5px;
            background-color: rgb(36, 130, 170);
            border-radius: 2px;
        }
    }
    .toggle .line-1 {
        transform: rotate(-45deg) translate(-5px, 8px);
    }
    .toggle .line-2 {
        opacity: 0;
    }
    .toggle .line-3 {
        transform: rotate(45deg) translate(-5px, -8px);
    }
}

//Footer
@import "footer";

//Other Pages
@import "converters";