{% include "header.html" %}
{% load static %}
</head>
<body>
    {% include "navbar.html" %}

    <div class="wrapper">
        <!-- List of tools available -->
        <div class="content-wrapper">
        <div class="path">
            <p><a href="{% url 'home' %}">Home</a> > <a href="{% url 'converters' %}">Converters</a> > <a href="{% url 'numberbaseconversion' %}">Number Base Conversion</a> > <a href="{% url 'decimal-to-binary-octal-hexadecimal' %}">Decimal to Binary, Octal and Hexadecimal Converter</a></p>
        </div>
            <div class="content-category">
                <h2 class="page-heading"><i class="fas fa-exchange-alt page-logo"></i>Decimal to Binary, Octal and Hexadecimal Converter</h2>
                <hr>
                <!-- App -->
                <div class="app-container">
                    <!-- Input Data -->
                    <form class="app-form" action="{% url 'decimal-to-binary-octal-hexadecimal' %}" method="POST">
                        {% csrf_token %}
                        {% if data.result.error %}
                        <div class="error-box">
                            <p>{{ data.result.error }}</p>
                        </div>
                        {% endif %}
                        {{ form }}
                        <a href="#" class="form-btn" id="form-submit" onclick="this.parentNode.submit();"><i
                                class="fas fa-exchange-alt"></i>Convert</a>
                        <a class="clear-btn form-btn" title="Clear" onclick="document.getElementById('id_decimal_input').value = '';
                        document.getElementById('output-text-1').value = ''; document.getElementById('output-text-2').value = '';
                        document.getElementById('output-text-3').value = '';"><i
                                class="far fa-trash-alt"></i></a>
                    </form>
                    <!-- Output Data -->
                    <div class="output-container">
                        <form>
                            <label for="binary">Binary Value</label>
                            <input type="text" id="output-text-1" disabled value="{% if data and not data.result.error %}{{ data.result.binary }}{% endif %}">
                            <label for="octal">Octal Value</label>
                            <input type="text" id="output-text-2" disabled value="{% if data and not data.result.error %}{{ data.result.octal }}{% endif %}">
                            <label for="hexadecimal">Hexadecimal Value</label>
                            <input type="text" id="output-text-3" disabled value="{% if data and not data.result.error %}{{ data.result.hexa }}{% endif %}">
                        </form>
                    </div>
                </div>


            </div>
        </div>
        <!-- Sidebar -->
        {% include "sidebar.html" %}
    </div>
    {% include "footer.html" %}


    <script src="{% static 'basesite/script.js' %}"></script>

</body>
</html>