<div class="footer">
    <div class="footer-site-title">
        <p><a href="#"><span class="footer-site-title-1">Calculator</span> <span class="footer-site-title-2">Swift</span></a></p>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div>
        <small class="copyright">&copy; Copyright {% now "Y" %}, Calculator Swift. All Rights Reserved</small>
    </div>
</div>