<nav class="navbar">
    <div class="nav-container">
        <div class="site-name">
            <p><a href="{% url 'home' %}"><span class="first-part">Calculator</span> <span class="second-part">Swift</span></a></p>
        </div>
        <div class="navlinks" id="navlinks">
            <ul>
                <li>
                    <a href="#">Generators</a>
                </li>
                <li><a href="{% url 'converters' %}">Converters</a></li>
                <li><a href="{% url 'calculators' %}">Calculators</a></li>
            </ul>
        </div>
        <div class="burger" id="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </div>
</nav>