<div class="sidebar">
    <div class="sidebar-list">
        <p class="sidebar-title">Quick Access</p>
        <ul>
            <li><a href="#">Age Calculator</a></li>
            <li><a href="#">Calorie Calculator</a></li>
            <li><a href="#">Scientific Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
            <li><a href="#">Length Calculator</a></li>
        </ul>
    </div>
</div>