{% include "header.html" %}
{% load static %}
</head>
<body>
    {% include "navbar.html" %}

    <div class="wrapper">
        <!-- List of tools available -->
        <div class="content-wrapper">
            <div class="path">
                <p><a href="{% url 'home' %}">Home</a> > <a href="{% url 'converters' %}">Converters</a> > <a
                        href="{% url 'volume-conversion' %}">Volume Conversion</a></p>
            </div>
            <div class="content-category">
                <h2 class="page-heading"><i class="fas fa-glass-whiskey page-logo"></i>Volume Conversion</h2>
                <hr>
                <!-- App -->
                <div class="app-container">

                    <!-- Input Data -->
                    <form class="app-form" action="{% url 'volume-conversion' %}" method="POST">
                        {% csrf_token %}
                        {% if data.result.error %}
                        <div class="error-box">
                            <p>{{ data.result.error }}</p>
                        </div>
                        {% endif %}
                        {{ form.first_unit.label }}
                        {{ form.first_unit }}
                        {{ form.value.label }}
                        <div class="input-box">
                            {{ form.value }}
                            <div class="showunit" id="show-unit-1"></div>
                        </div>
                        {{ form.second_unit.label }}
                        {{ form.second_unit }}

                        <a href="#" class="form-btn" id="form-submit" onclick="this.parentNode.submit();"><i
                                class="fas fa-exchange-alt"></i>Convert</a>
                        <a class="clear-btn form-btn" title="Clear" onclick="document.getElementById('id_value').value = '';
                        document.getElementById('output-text').value = '';"><i class="far fa-trash-alt"></i></a>
                    </form>
                    <!-- Output Data -->
                    <div class="output-container">
                        <form>
                            <label for="binary">Result</label>
                            <div class="output-box">
                                <input type="text" id="output-text" disabled
                                    value="{% if data and not data.result.error %}{{ data.result }}{% endif %}">
                                <div class="showunit" id="show-unit-2"></div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
        <!-- Sidebar -->
        {% include "sidebar.html" %}
    </div>
    {% include "footer.html" %}


    <script src="{% static 'basesite/script.js' %}"></script>
    <script src="{% static 'basesite/showUnit.js' %}"></script>

</body>

</html>