* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 120vh;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
}

p, a {
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  margin: 0;
}

.navbar {
  height: 80px;
  background-color: #ffffff;
  border: 1px #e4e4e4 solid;
}

.navbar .nav-container {
  margin: 22px auto 0 auto;
  width: 80%;
  text-align: center;
}

.navbar .site-name a {
  text-decoration: none;
  font-size: 24px;
}

.navbar .site-name .first-part {
  color: rgba(0, 0, 0, 0.78);
  font-family: 'Exo', sans-serif;
}

.navbar .site-name .second-part {
  color: rgba(36, 130, 170, 0.78);
  font-family: 'Permanent Marker', cursive;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 120vh;
  background-color: #ffffff;
}

.content-wrapper {
  background-color: #F5F6F7;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding-bottom: 70px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlinks ul li {
  list-style-type: none;
}

.navlinks a {
  text-decoration: none;
}

.navlinks ul li a {
  font-family: 'Exo', sans-serif;
}

.burger {
  display: none;
}

.accordion {
  margin: auto;
  margin-top: 70px;
  max-width: 70%;
  overflow: hidden;
  border-radius: 4px;
  font-family: 'PT Sans', sans-serif;
}

.accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  color: #003350;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}

.accordion-header .head-title {
  font-family: 'PT Sans', sans-serif;
}

.accordion-header i {
  font-size: 30px;
}

.accordion-header.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion-body {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 0 10px;
}

.accordion-body ul {
  list-style-type: none;
}

.accordion-body ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #0c3d53;
  font-family: 'PT Sans', sans-serif;
}

.accordion-body li {
  border-bottom: 1px solid rgba(36, 130, 170, 0.144);
}

.accordion-body ul li:last-child {
  border-bottom: none;
}

.accordion-body li {
  padding: 10px;
  margin: 0;
}

.accordion-body.active {
  max-height: 40rem;
  padding: 1rem;
  border: 1px solid #c0c0c0;
}

.accordion-body.active li {
  padding: 10px;
  margin: 0;
}

.accordion-body.active li:hover {
  background-color: rgba(6, 97, 136, 0.651);
}

.accordion-body.active li:hover a {
  color: white;
}

.accordion-item {
  margin-bottom: 20px;
}

@media screen and (max-width: 872px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    margin: 0;
    margin: auto;
    border: 2px solid #e4e4e4;
    width: 100%;
  }
  .accordion {
    overflow: hidden;
    border-radius: 4px;
  }
  .accordion-header {
    font-size: 16px;
  }
  .acc-logo {
    font-size: 40px;
    width: auto;
    margin-right: 0;
  }
}

.sidebar {
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 40px 50px 40px;
  background-color: #ffffff;
  border-left: 1px solid #e4e4e4;
}

.sidebar ul {
  list-style-type: disc;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgba(0, 92, 131, 0.945);
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li {
  margin-bottom: 5px;
  color: rgba(66, 66, 66, 0.829);
  font-size: 17px;
}

.sidebar .sidebar-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgba(66, 66, 66, 0.829);
}

.sidebar .sidebar-list {
  margin-top: 40px;
  margin-left: 20px;
  padding: 10px;
}

@media screen and (min-width: 872px) {
  .navlinks {
    margin-left: auto;
  }
  .navlinks ul {
    background-color: #ffffff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .navlinks ul li {
    margin-left: 30px;
  }
  .navlinks ul li a {
    color: rgba(0, 0, 0, 0.78);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .navlinks ul li a:hover {
    color: #fafafa;
    background-color: rgba(36, 130, 170, 0.78);
    border-radius: 5px;
  }
  .navlinks ul {
    list-style-type: none;
  }
  .acc-logo {
    font-size: 40px;
    width: 40px;
    margin-right: 50px;
  }
  .head-title {
    margin-right: auto;
  }
}

@media screen and (max-width: 872px) {
  .navlinks {
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 100;
    max-width: 0px;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .nav-active {
    max-width: 500px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .nav-active ul li {
    padding: 10px 0;
    width: 300px;
  }
  .nav-active ul li:hover {
    background-color: #17485e;
  }
  .nav-active ul {
    background-color: #2482aa;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .nav-active a {
    color: #f1f1f1;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
  }
  .burger {
    position: absolute;
    right: 20px;
    top: 30px;
    margin-top: 0;
    display: block;
    margin-left: auto;
    cursor: pointer;
    width: 50px;
    height: 30px;
  }
  .burger .line-1, .burger .line-2, .burger .line-3 {
    height: 4px;
    width: 30px;
    margin-bottom: 5px;
    background-color: #2482aa;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .toggle .line-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 8px);
            transform: rotate(-45deg) translate(-5px, 8px);
  }
  .toggle .line-2 {
    opacity: 0;
  }
  .toggle .line-3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
            transform: rotate(45deg) translate(-5px, -8px);
  }
}

@media screen and (max-width: 872px) {
  .footer {
    border-top: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #e4e4e4;
  background-color: #efefef;
}

.footer .footer-site-title a {
  text-decoration: none;
}

.footer .footer-site-title-1 {
  color: rgba(0, 0, 0, 0.78);
  font-family: 'Exo', sans-serif;
}

.footer .footer-site-title-2 {
  color: rgba(36, 130, 170, 0.78);
  font-family: 'Permanent Marker', cursive;
}

.footer .footer-links ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .footer-links ul li {
  margin-right: 10px;
}

.footer .footer-links li a {
  text-decoration: none;
  font-family: 'Exo', sans-serif;
  font-size: 13px;
  color: #107faf;
}

.footer .footer-links li a:hover {
  text-decoration: underline;
  color: #0c3d53;
}

.footer .copyright {
  font-family: 'Exo', sans-serif;
}

.page-heading {
  font-family: 'PT Sans', sans-serif;
  color: #377ead;
  margin-bottom: 10px;
  font-weight: lighter;
}

.page-sub-heading {
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.page-sub-heading a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: #377ead;
  font-weight: lighter;
}

.page-sub-heading a:hover {
  text-decoration: underline;
}

.page-sub-heading a i {
  margin-right: 10px;
}

.page-sub-heading-link {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 20px 0;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 30px 20px;
}

.page-sub-heading-link:hover {
  -webkit-box-shadow: 0 0 5px #e4e4e4;
          box-shadow: 0 0 5px #e4e4e4;
}

.page-sub-heading-link a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: #377ead;
  font-weight: lighter;
}

.page-sub-heading-link a:hover {
  text-decoration: underline;
}

.page-sub-heading-link i {
  margin-right: 10px;
}

.content-category {
  width: 75%;
  margin: auto;
  margin-top: 30px;
  background-color: #ffffff;
  padding: 20px 40px 30px 40px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  min-height: 90vh;
}

.content-category ul {
  list-style-type: disc;
  margin-top: 20px;
  margin-left: 30px;
}

.content-category li a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: rgba(0, 92, 131, 0.945);
  font-size: 17px;
}

.content-category li a:hover {
  text-decoration: underline;
}

.content-category li {
  margin-bottom: 5px;
  color: rgba(66, 66, 66, 0.829);
  font-size: 17px;
}

.content-category .page-logo {
  font-size: 25px;
  padding-right: 15px;
}

.path {
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

.path p a {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: rgba(36, 130, 170, 0.979);
}

.path p a:hover {
  text-decoration: underline;
  color: #0c3d53;
}

.path p {
  font-family: 'PT Sans', sans-serif;
  color: #0c3d53;
}

.clear-btn {
  opacity: 0.9;
  background-color: #e75050 !important;
  width: 50px !important;
  margin-right: 5px;
}

.clear-btn:hover {
  background-color: #c04141 !important;
}

.clear-btn i {
  margin: 5px;
}

hr {
  opacity: 0.3;
}

.app-form {
  margin-top: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.app-form ul {
  display: none;
}

.app-form input[type=text] {
  display: block;
  height: 40px;
  width: 32vw;
  padding: 5px 10px;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.app-form a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  height: 40px;
  width: 100px;
  font-family: 'PT Sans', sans-serif;
  background-color: #377ead;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
}

.app-form a:hover {
  background-color: #2f6f99;
}

.app-form label {
  display: block;
  margin-right: 20px;
}

.app-form a i {
  margin-right: 5px;
}

.app-form select {
  display: block;
  padding: 8px 10px;
  font-size: 17px;
  margin-bottom: 10px;
}

.app-form .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-form .input-box input[type=text] {
  margin: 0;
}

.showunit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px #c0c0c0 solid;
  font-family: 'PT Sans', sans-serif;
  margin-left: 10px;
  background-color: #f8f8f8;
  color: #353535;
}

.output-box {
  width: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.output-box input[type=text] {
  margin: 0;
}

.output-box .showunit {
  height: 40px;
}

#swap {
  background-color: #efefef;
  color: #0c3d53;
  border: 1px solid grey;
}

.output-container {
  margin-top: 30px;
  width: 32vw;
  font-size: 17px;
}

.output-container input[type=text] {
  display: inline-block;
  width: 32vw;
  padding: 20px 10px;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow-x: scroll;
}

.output-container label {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}

.error-box {
  width: 32vw;
  background-color: rgba(255, 202, 202, 0.767);
  padding: 10px 20px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #353535;
}

@media screen and (max-width: 872px) {
  .path, .content-category {
    width: 80%;
  }
  .app-form input[type=text] {
    width: 100%;
  }
  .output-container {
    width: 100%;
  }
  .output-container input[type=text] {
    width: 100%;
  }
  .error-box {
    width: 100%;
  }
  .input-box input[type=text] {
    width: 400px;
  }
  .output-box {
    width: 100%;
  }
}

@media screen and (min-width: 872px) {
  .input-box {
    width: 32vw;
  }
}
/*# sourceMappingURL=style.css.map */